# Rootfs configuration

BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_MPD_PATH)/board/common/rootfs_overlay $(BR2_EXTERNAL_MPD_PATH)/board/bananapi/bananapi-m2-zero/rootfs_overlay"
BR2_TARGET_ROOTFS_EXT2_SIZE="120M"

# Linux configuration

BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_MPD_PATH)/board/bananapi/bananapi-m2-zero/linux.fragment"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_MPD_PATH)/board/bananapi/bananapi-m2-zero/patches/linux/ssd1322-support.patch"

# U-Boot configuration

BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_MPD_PATH)/board/bananapi/bananapi-m2-zero/uboot.fragment"

# Post-build scripts

BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_MPD_PATH)/board/common/post-build.sh  $(BR2_EXTERNAL_MPD_PATH)/board/bananapi/bananapi-m2-zero/post-build.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="-c $(BR2_EXTERNAL_MPD_PATH)/board/bananapi/bananapi-m2-zero/genimage.cfg"
BR2_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT_SOURCE="$(BR2_EXTERNAL_MPD_PATH)/board/bananapi/bananapi-m2-zero/boot.cmd"
