# Enable compiler cache

BR2_CCACHE=y
BR2_CCACHE_DIR="\$(HOME)/.buildroot-ccache"
BR2_CCACHE_INITIAL_SETUP=""
BR2_CCACHE_USE_BASEDIR=y

# Common settings

BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y

# Users

BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL_MPD_PATH)/board/users.txt"

# Alsa utils

BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_SPEAKER_TEST=y

# SSL support

BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_CA_CERTIFICATES=y

# Device management

BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_PACKAGE_USBMOUNT=y

# MPD support

BR2_PACKAGE_MPD=y
BR2_PACKAGE_MPD_CURL=y
BR2_PACKAGE_MPD_FAAD2=y
BR2_PACKAGE_MPD_FLAC=y
BR2_PACKAGE_MPD_LIBSNDFILE=y
BR2_PACKAGE_MPD_VORBIS=y
BR2_PACKAGE_MPD_ID3TAG=y

# Python deps for mpd-uart

BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON_MPD2=y
BR2_PACKAGE_PYTHON_SERIAL=y

# Enable Network cable hotplug

BR2_PACKAGE_NETPLUG=y

# NTP support

BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y

# Locales

BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_GENERATE_LOCALE="ru_RU.UTF-8"

# Network applications

BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_RSYNC=y
